In [9]:
import pandas as pd
import numpy as np
import os

In [19]:
dataset = pd.read_csv("AutoXing.csv")
dataset = pd.read_csv("AutoXing.csv")
dataset = dataset.loc[dataset["teams"] > 0]

In [20]:
dataset

                 dataset   metric   teams        type         table
0        amazon_employee      auc  1687.0      binary  single_table
1           bio_response  logloss   699.0      binary  single_table
2           dont_overfit      auc  2330.0      binary  single_table
3             get_kicked     gini   570.0      binary  single_table
4                give_me      auc   924.0      binary  single_table
5         homesite_quote      auc  1762.0      binary  single_table
6            kobe_bryant  logloss  1117.0      binary  single_table
7         liberty_mutual     gini   634.0      binary  single_table
8            safe_driver     gini  5163.0      binary  single_table
9     santander_customer      auc  5122.0      binary  single_table
10        social_network      auc   132.0      binary  single_table
11           spring_leaf      auc  2226.0      binary  single_table
12          stumble_upon      auc   625.0      binary  single_table
13          talking_data      auc  3946.0      binary  single_table
14  facebook_human_robot      auc   985.0      binary  multi_tables
15           home_credit      auc  7190.0      binary  multi_tables
16                  ieee      auc  5157.0      binary  multi_tables
17          kdd_cup_2014      auc   472.0      binary  multi_tables
18               red_hat      auc  2269.0      binary  multi_tables
19             west_nile      auc  1306.0      binary  multi_tables
20                 avazu  logloss  1604.0      binary  single_table
21                criteo  logloss   717.0      binary  single_table
22            box_office    rmsle  1398.0  regression  single_table
23          house_prices    rmsle  4470.0  regression  single_table
24              how_rain      mae   587.0  regression  single_table
25          loan_default      mae   675.0  regression  single_table
26         mercedes_benz       r2  3831.0  regression  single_table
27           pubg_finish      mae  1534.0  regression  single_table
28    restaurant_revenue     rmse  2257.0  regression  single_table
29       santander_value    rmsle  4477.0  regression  single_table
30             taxi_trip    rmsle  1257.0  regression  single_table
31       allstate_claims      mae  3052.0  regression  single_table
32   bike_sharing_demand    rmsle  3251.0  regression  single_table
33          elo_merchant     rmse  4127.0  regression  multi_tables
34         grocery_sales  nwrmsle  1674.0  regression  multi_tables
35           grupo_bimbo    rmsle  1968.0  regression  multi_tables
36    restaurant_visitor    rmsle  2157.0  regression  multi_tables
37  rossmann_store_sales    rmspe  3303.0  regression  multi_tables
38      sberbank_russian    rmsle  3274.0  regression  multi_tables
39           store_sales     wmae   690.0  regression  multi_tables
40          tube_pricing    rmsle  1323.0  regression  multi_tables
41         walmart_sales    rmsle   485.0  regression  multi_tables

In [21]:
os.listdir("./result/")

['result-2019-12-11.csv',
 'result-2019-12-12.csv',
 '.DS_Store',
 'result-2019-11-25.csv']

In [22]:
# res = pd.read_csv("./result/result-2019-12-11.csv")
res = pd.read_csv("./result/result-2019-11-25.csv")
res = pd.read_csv("./result/result-2019-12-12.csv")

In [29]:
idx_1 = res['private_score'].isnull()
idx_2 = res['public_score'].isnull()
res = res[~(idx_1 & idx_2)]
res.shape

(32, 7)

In [33]:
res = res.loc[res["status"] == "success"]
res.index = range(len(res))
res.shape

(31, 7)

In [34]:
# os.listdir("db-kaggle/")

In [35]:
res

,Unnamed: 0,phisical,status,private_score,public_score,rank,time
0,kaggle-allstate_claims,hdfs,success,1126.57408,1115.4252800000002,1.0,44023.36909675598
1,kaggle-amazon_employee,hdfs,success,0.90617,0.91214,51.0,6577.889317035675
2,kaggle-avazu,hdfs,success,0.3899,0.39205,1.0,18014.41471886635
3,kaggle-bike_sharing_demand,hdfs,success,NaN,0.39913000000000004,1.0,15426.881854057312
4,kaggle-bio_response,hdfs,success,0.38059,0.41712,51.0,31064.05154776573
5,kaggle-box_office,hdfs,success,NaN,2.0941799999999997,1.0,3435.4214079380035
6,kaggle-dont_overfit,hdfs,success,0.855,0.872,51.0,196.0761206150055
7,kaggle-elo_merchant,hdfs,success,3.7221800000000003,3.8078199999999995,1.0,14384.092439889908
8,kaggle-facebook_human_robot,hdfs,success,0.91205,0.8839,51.0,1348.1911306381226
9,kaggle-get_kicked,hdfs,success,0.26103000000000004,0.25925,8.0,11850.41955947876
10,kaggle-give_me,hdfs,success,0.8689399999999999,0.8628100000000001,1.0,6054.9632477760315
11,kaggle-home_credit,hdfs,success,0.77693,0.77695,51.0,33160.654663324356
12,kaggle-homesite_quote,hdfs,success,0.9691299999999999,0.9693299999999999,17.0,164126.62316942215
13,kaggle-house_prices,hdfs,success,NaN,0.12649000000000002,1.0,19118.108629465103
14,kaggle-ieee,hdfs,success,0.8748950000000001,0.9140280000000001,51.0,127815.80244398117
15,kaggle-kdd_cup_2014,hdfs,success,0.57645,0.5973,51.0,53680.48843550682
16,kaggle-kobe_bryant,hdfs,success,NaN,0.5988,1.0,35.38997769355774
17,kaggle-liberty_mutual,hdfs,success,0.29104,0.28753,51.0,180.99511122703552
18,kaggle-loan_default,hdfs,success,1.18767,1.21374,1.0,100872.8952050209
19,kaggle-mercedes_benz,hdfs,success,0.55381,0.55624,51.0,39.4244909286499
20,kaggle-restaurant_revenue,hdfs,success,1835358.72556,1774396.0933599998,1.0,4086.953066587448
21,kaggle-safe_driver,hdfs,success,0.29105,0.28567,2.0,2336.1762025356293
22,kaggle-santander_customer,hdfs,success,0.8269299999999999,0.8395299999999999,51.0,14530.050726652145
23,kaggle-santander_value,hdfs,success,1.3955,1.45317,1.0,171927.92201781273
24,kaggle-sberbank_russian,hdfs,success,0.32985,0.32937,1.0,39422.74235892296
25,kaggle-social_network,hdfs,success,0.87721,0.87168,2.0,4294.6152675151825
26,kaggle-spring_leaf,hdfs,success,0.7922,0.79772,51.0,94302.25405430794
27,kaggle-stumble_upon,hdfs,success,0.8817200000000001,0.879,51.0,1818.8702313899994
28,kaggle-taxi_trip,hdfs,success,0.5835899999999999,0.5848800000000001,1.0,82228.85462141037
29,kaggle-tube_pricing,hdfs,success,0.24752,0.25413,1.0,56106.55063414574
30,kaggle-west_nile,hdfs,success,0.71114,0.7256600000000001,51.0,2386.148917913437

In [36]:
def get_rank(_list, cur, teams, metric):
    if metric in ["mae", "logloss", "rmsle", "rmse"]:
        for i in range(len(_list)):
            if cur <= _list[i]:
                return i / teams, str(i) + "/" + str(int(teams))
    if metric in ["auc", "gini", "r2"]:
        for i in range(len(_list)):
            if cur >= _list[i]:
                return i / len(_list), str(i) + "/" + str(len(_list))

In [37]:
rank_res = []
for i in range(len(res)):
    
    name = res.loc[i, 'Unnamed: 0'][7:]

    metric = dataset.loc[dataset["dataset"] == name, "metric"].values[0]
    teams = dataset.loc[dataset["dataset"] == name, "teams"].values[0]
    _type  = dataset.loc[dataset["dataset"] == name, "type"].values[0]
    table  = dataset.loc[dataset["dataset"] == name, "table"].values[0]
    
    score = float(res.loc[i, 'private_score'])
    if not score > 0:
        score = float(res.loc[i, 'public_score'])
    

    name = name.replace("_", "-")
    if name == "bio-response":
        name = "bioresponse"
    if name == "facebook-human-robot":
        name = "facebook-recruiting-iv"
    if name == "get-kicked":
        name = "DontGetKicked"
    if name == "give-me":
        name = "GiveMeSomeCredit"
    if name == "spring-leaf":
        name = "springleaf"
    if name == "stumble-upon":
        name = "stumbleupon"
     
    lb = pd.read_csv("db-kaggle/" + [x for x in os.listdir("db-kaggle/") if name in x][0], sep = ";", header = -1)
    
    
    lb.columns = ["rank", "team", "score"]

    rank, str_rank = get_rank(list(lb['score']), score, teams, metric)
    
    print("name: {}; metric: {}; teams: {}; score: {}; rank: {}".format(name, metric, teams, score, rank))

    rank_res.append([name, _type, table, metric, teams, score, rank, str_rank])

name: allstate-claims; metric: mae; teams: 3052.0; score: 1126.57408; rank: 0.29226736566186107
name: amazon-employee; metric: auc; teams: 1687.0; score: 0.90617; rank: 0.05390995260663507
name: avazu; metric: logloss; teams: 1604.0; score: 0.3899; rank: 0.08728179551122195
name: bike-sharing-demand; metric: rmsle; teams: 3251.0; score: 0.39913000000000004; rank: 0.06705629037219317
name: bioresponse; metric: logloss; teams: 699.0; score: 0.38059; rank: 0.04864091559370529
name: box-office; metric: rmsle; teams: 1398.0; score: 2.0941799999999997; rank: 0.449928469241774
name: dont-overfit; metric: auc; teams: 2330.0; score: 0.855; rank: 0.02631578947368421
name: elo-merchant; metric: rmse; teams: 4127.0; score: 3.7221800000000003; rank: 0.7455779016234553
name: facebook-recruiting-iv; metric: auc; teams: 985.0; score: 0.91205; rank: 0.3380710659898477
name: DontGetKicked; metric: gini; teams: 570.0; score: 0.26103000000000004; rank: 0.010507880910683012
name: GiveMeSomeCredit; metric: auc; teams: 924.0; score: 0.8689399999999999; rank: 0.008648648648648649
name: home-credit; metric: auc; teams: 7190.0; score: 0.77693; rank: 0.5767785048030071
name: homesite-quote; metric: auc; teams: 1762.0; score: 0.9691299999999999; rank: 0.00739476678043231
name: house-prices; metric: rmsle; teams: 4470.0; score: 0.12649000000000002; rank: 0.37651006711409396
name: ieee; metric: auc; teams: 5157.0; score: 0.8748950000000001; rank: 0.787959761081421
name: kdd-cup-2014; metric: auc; teams: 472.0; score: 0.57645; rank: 0.41561181434599154
name: kobe-bryant; metric: logloss; teams: 1117.0; score: 0.5988; rank: 0.01432408236347359
name: liberty-mutual; metric: gini; teams: 634.0; score: 0.29104; rank: 0.07255520504731862
name: loan-default; metric: mae; teams: 675.0; score: 1.18767; rank: 0.9259259259259259
name: mercedes-benz; metric: r2; teams: 3831.0; score: 0.55381; rank: 0.003919519205644107
name: restaurant-revenue; metric: rmse; teams: 2257.0; score: 1835358.72556; rank: 0.2875498449268941
name: safe-driver; metric: gini; teams: 5163.0; score: 0.29105; rank: 0.0069767441860465115
name: santander-customer; metric: auc; teams: 5122.0; score: 0.8269299999999999; rank: 0.773350079926924
name: santander-value; metric: rmsle; teams: 4477.0; score: 1.3955; rank: 0.5396470851016305
name: sberbank-russian; metric: rmsle; teams: 3274.0; score: 0.32985; rank: 0.6789859499083689
name: social-network; metric: auc; teams: 132.0; score: 0.87721; rank: 0.022222222222222223
name: springleaf; metric: auc; teams: 2226.0; score: 0.7922; rank: 0.13900134952766532
name: stumbleupon; metric: auc; teams: 625.0; score: 0.8817200000000001; rank: 0.3344
name: taxi-trip; metric: rmsle; teams: 1257.0; score: 0.5835899999999999; rank: 0.7422434367541766
name: tube-pricing; metric: rmsle; teams: 1323.0; score: 0.24752; rank: 0.47467876039304613
name: west-nile; metric: auc; teams: 1306.0; score: 0.71114; rank: 0.5126243305279266

In [38]:
[x for x in os.listdir("db-kaggle/") if name in x]

['predict-west-nile-virus-4366-private.leaderboard']

In [39]:
! head ./db-kaggle/amazon-employee-access-challenge-3338-private.leaderboard

1;Paul Duan & BS Man;0.92360
2;Owen Zhang;0.92272
3;Dmitry&Leustagos;0.92255
4;Tim;0.92189
5;Chaotic Experiments;0.92153
6;Murashka;0.92106
7;Alexander  Larko;0.92104
8;Gxav;0.92012
9;beginnersLuck;0.91961
10;IzuiT;0.91942

In [41]:
rank_res = pd.DataFrame(rank_res)
rank_res.columns = ["name", "type", "table", "metric", "teams", "score", "rank", "str_rank"]
rank_res

,name,type,table,metric,teams,score,rank,str_rank
0,allstate-claims,regression,single_table,mae,3052.0,1.126574e+03,0.292267,892/3052
1,amazon-employee,binary,single_table,auc,1687.0,9.061700e-01,0.053910,91/1688
2,avazu,binary,single_table,logloss,1604.0,3.899000e-01,0.087282,140/1604
3,bike-sharing-demand,regression,single_table,rmsle,3251.0,3.991300e-01,0.067056,218/3251
4,bioresponse,binary,single_table,logloss,699.0,3.805900e-01,0.048641,34/699
5,box-office,regression,single_table,rmsle,1398.0,2.094180e+00,0.449928,629/1398
6,dont-overfit,binary,single_table,auc,2330.0,8.550000e-01,0.026316,61/2318
7,elo-merchant,regression,multi_tables,rmse,4127.0,3.722180e+00,0.745578,3077/4127
8,facebook-recruiting-iv,binary,multi_tables,auc,985.0,9.120500e-01,0.338071,333/985
9,DontGetKicked,binary,single_table,gini,570.0,2.610300e-01,0.010508,6/571
10,GiveMeSomeCredit,binary,single_table,auc,924.0,8.689400e-01,0.008649,8/925
11,home-credit,binary,multi_tables,auc,7190.0,7.769300e-01,0.576779,4143/7183
12,homesite-quote,binary,single_table,auc,1762.0,9.691300e-01,0.007395,13/1758
13,house-prices,regression,single_table,rmsle,4470.0,1.264900e-01,0.376510,1683/4470
14,ieee,binary,multi_tables,auc,5157.0,8.748950e-01,0.787960,5013/6362
15,kdd-cup-2014,binary,multi_tables,auc,472.0,5.764500e-01,0.415612,197/474
16,kobe-bryant,binary,single_table,logloss,1117.0,5.988000e-01,0.014324,16/1117
17,liberty-mutual,binary,single_table,gini,634.0,2.910400e-01,0.072555,46/634
18,loan-default,regression,single_table,mae,675.0,1.187670e+00,0.925926,625/675
19,mercedes-benz,regression,single_table,r2,3831.0,5.538100e-01,0.003920,15/3827
20,restaurant-revenue,regression,single_table,rmse,2257.0,1.835359e+06,0.287550,649/2257
21,safe-driver,binary,single_table,gini,5163.0,2.910500e-01,0.006977,36/5160
22,santander-customer,binary,single_table,auc,5122.0,8.269300e-01,0.773350,6773/8758
23,santander-value,regression,single_table,rmsle,4477.0,1.395500e+00,0.539647,2416/4477
24,sberbank-russian,regression,multi_tables,rmsle,3274.0,3.298500e-01,0.678986,2223/3274
25,social-network,binary,single_table,auc,132.0,8.772100e-01,0.022222,3/135
26,springleaf,binary,single_table,auc,2226.0,7.922000e-01,0.139001,309/2223
27,stumbleupon,binary,single_table,auc,625.0,8.817200e-01,0.334400,209/625
28,taxi-trip,regression,single_table,rmsle,1257.0,5.835900e-01,0.742243,933/1257
29,tube-pricing,regression,multi_tables,rmsle,1323.0,2.475200e-01,0.474679,628/1323
30,west-nile,binary,multi_tables,auc,1306.0,7.111400e-01,0.512624,670/1307

In [42]:
rank_res = rank_res.sort_values(by = "rank")
rank_res.index = range(len(rank_res))
rank_res["acc_avg_rank"] = rank_res['rank'].expanding().mean()
rank_res

,name,type,table,metric,teams,score,rank,str_rank,acc_avg_rank
0,mercedes-benz,regression,single_table,r2,3831.0,5.538100e-01,0.003920,15/3827,0.003920
1,safe-driver,binary,single_table,gini,5163.0,2.910500e-01,0.006977,36/5160,0.005448
2,homesite-quote,binary,single_table,auc,1762.0,9.691300e-01,0.007395,13/1758,0.006097
3,GiveMeSomeCredit,binary,single_table,auc,924.0,8.689400e-01,0.008649,8/925,0.006735
4,DontGetKicked,binary,single_table,gini,570.0,2.610300e-01,0.010508,6/571,0.007490
5,kobe-bryant,binary,single_table,logloss,1117.0,5.988000e-01,0.014324,16/1117,0.008629
6,social-network,binary,single_table,auc,132.0,8.772100e-01,0.022222,3/135,0.010571
7,dont-overfit,binary,single_table,auc,2330.0,8.550000e-01,0.026316,61/2318,0.012539
8,bioresponse,binary,single_table,logloss,699.0,3.805900e-01,0.048641,34/699,0.016550
9,amazon-employee,binary,single_table,auc,1687.0,9.061700e-01,0.053910,91/1688,0.020286
10,bike-sharing-demand,regression,single_table,rmsle,3251.0,3.991300e-01,0.067056,218/3251,0.024538
11,liberty-mutual,binary,single_table,gini,634.0,2.910400e-01,0.072555,46/634,0.028539
12,avazu,binary,single_table,logloss,1604.0,3.899000e-01,0.087282,140/1604,0.033058
13,springleaf,binary,single_table,auc,2226.0,7.922000e-01,0.139001,309/2223,0.040625
14,restaurant-revenue,regression,single_table,rmse,2257.0,1.835359e+06,0.287550,649/2257,0.057087
15,allstate-claims,regression,single_table,mae,3052.0,1.126574e+03,0.292267,892/3052,0.071786
16,stumbleupon,binary,single_table,auc,625.0,8.817200e-01,0.334400,209/625,0.087234
17,facebook-recruiting-iv,binary,multi_tables,auc,985.0,9.120500e-01,0.338071,333/985,0.101169
18,house-prices,regression,single_table,rmsle,4470.0,1.264900e-01,0.376510,1683/4470,0.115661
19,kdd-cup-2014,binary,multi_tables,auc,472.0,5.764500e-01,0.415612,197/474,0.130658
20,box-office,regression,single_table,rmsle,1398.0,2.094180e+00,0.449928,629/1398,0.145862
21,tube-pricing,regression,multi_tables,rmsle,1323.0,2.475200e-01,0.474679,628/1323,0.160808
22,west-nile,binary,multi_tables,auc,1306.0,7.111400e-01,0.512624,670/1307,0.176104
23,santander-value,regression,single_table,rmsle,4477.0,1.395500e+00,0.539647,2416/4477,0.191252
24,home-credit,binary,multi_tables,auc,7190.0,7.769300e-01,0.576779,4143/7183,0.206673
25,sberbank-russian,regression,multi_tables,rmsle,3274.0,3.298500e-01,0.678986,2223/3274,0.224839
26,taxi-trip,regression,single_table,rmsle,1257.0,5.835900e-01,0.742243,933/1257,0.244002
27,elo-merchant,regression,multi_tables,rmse,4127.0,3.722180e+00,0.745578,3077/4127,0.261915
28,santander-customer,binary,single_table,auc,5122.0,8.269300e-01,0.773350,6773/8758,0.279551
29,ieee,binary,multi_tables,auc,5157.0,8.748950e-01,0.787960,5013/6362,0.296498
30,loan-default,regression,single_table,mae,675.0,1.187670e+00,0.925926,625/675,0.316802

In [43]:
import datetime
today = str(datetime.date.today())

rank_res.to_csv("./output/" + today + ".csv", index = False)