In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
dataset = pd.read_csv("AutoXing.csv")
dataset = pd.read_csv("AutoXing.csv")
dataset = dataset.loc[dataset["teams"] > 0]

In [3]:
dataset

                 dataset   metric   teams        type         table
0        amazon_employee      auc  1687.0      binary  single_table
1           bio_response  logloss   699.0      binary  single_table
2           dont_overfit      auc  2330.0      binary  single_table
3             get_kicked     gini   570.0      binary  single_table
4                give_me      auc   924.0      binary  single_table
5         homesite_quote      auc  1762.0      binary  single_table
6            kobe_bryant  logloss  1117.0      binary  single_table
7         liberty_mutual     gini   634.0      binary  single_table
8            safe_driver     gini  5163.0      binary  single_table
9     santander_customer      auc  5122.0      binary  single_table
10        social_network      auc   132.0      binary  single_table
11           spring_leaf      auc  2226.0      binary  single_table
12          stumble_upon      auc   625.0      binary  single_table
13          talking_data      auc  3946.0      binary  single_table
14  facebook_human_robot      auc   985.0      binary  multi_tables
15           home_credit      auc  7190.0      binary  multi_tables
16                  ieee      auc  5157.0      binary  multi_tables
17          kdd_cup_2014      auc   472.0      binary  multi_tables
18               red_hat      auc  2269.0      binary  multi_tables
19             west_nile      auc  1306.0      binary  multi_tables
20                 avazu  logloss  1604.0      binary  single_table
21                criteo  logloss   717.0      binary  single_table
22            box_office    rmsle  1398.0  regression  single_table
23          house_prices    rmsle  4470.0  regression  single_table
24              how_rain      mae   587.0  regression  single_table
25          loan_default      mae   675.0  regression  single_table
26         mercedes_benz       r2  3831.0  regression  single_table
27           pubg_finish      mae  1534.0  regression  single_table
28    restaurant_revenue     rmse  2257.0  regression  single_table
29       santander_value    rmsle  4477.0  regression  single_table
30             taxi_trip    rmsle  1257.0  regression  single_table
31       allstate_claims      mae  3052.0  regression  single_table
32   bike_sharing_demand    rmsle  3251.0  regression  single_table
33          elo_merchant     rmse  4127.0  regression  multi_tables
34         grocery_sales  nwrmsle  1674.0  regression  multi_tables
35           grupo_bimbo    rmsle  1968.0  regression  multi_tables
36    restaurant_visitor    rmsle  2157.0  regression  multi_tables
37  rossmann_store_sales    rmspe  3303.0  regression  multi_tables
38      sberbank_russian    rmsle  3274.0  regression  multi_tables
39           store_sales     wmae   690.0  regression  multi_tables
40          tube_pricing    rmsle  1323.0  regression  multi_tables
41         walmart_sales    rmsle   485.0  regression  multi_tables

In [4]:
os.listdir("./result/")

['result-2019-12-11.csv', '.DS_Store', 'result-2019-11-25.csv']

In [5]:
# res = pd.read_csv("./result/result-2019-12-11.csv")
res = pd.read_csv("./result/result-2019-11-25.csv")

In [6]:
res = res.loc[res["status"] == "success"]
res.index = range(len(res))
res.shape

(30, 7)

In [7]:
# os.listdir("db-kaggle/")

In [8]:
res

,Unnamed: 0,phisical,status,private_score,public_score,rank,time
0,kaggle-allstate_claims,hdfs,success,1126.93749,1116.0812,1.0,43064.41450023651
1,kaggle-amazon_employee,hdfs,success,0.85475,0.86237,51.0,10363.265351295471
2,kaggle-avazu,hdfs,success,0.39037,0.39249,1.0,18411.18379497528
3,kaggle-bike_sharing_demand,hdfs,success,NaN,0.3978,1.0,12124.077533245087
4,kaggle-bio_response,hdfs,success,0.37884,0.41763999999999996,51.0,28916.106429576874
5,kaggle-box_office,hdfs,success,NaN,2.08305,1.0,3818.992904186249
6,kaggle-dont_overfit,hdfs,success,0.77,0.782,51.0,30076.438952207565
7,kaggle-elo_merchant,hdfs,success,3.72154,3.80871,1.0,14426.433653831482
8,kaggle-facebook_human_robot,hdfs,success,0.90945,0.8814299999999999,51.0,1582.997311592102
9,kaggle-get_kicked,hdfs,success,0.26075,0.26035,8.0,11836.632311820984
10,kaggle-give_me,hdfs,success,0.8689399999999999,0.8628100000000001,1.0,5916.724531173706
11,kaggle-home_credit,hdfs,success,0.77772,0.7790699999999999,51.0,39999.014459848404
12,kaggle-homesite_quote,hdfs,success,0.9691200000000001,0.9694,17.0,170435.36364269257
13,kaggle-house_prices,hdfs,success,NaN,0.12669,1.0,23673.483713388443
14,kaggle-ieee,hdfs,success,0.880006,0.918819,51.0,173087.9949617386
15,kaggle-kdd_cup_2014,hdfs,success,0.57585,0.59954,51.0,63693.37508249283
16,kaggle-kobe_bryant,hdfs,success,NaN,0.60278,1.0,7383.674348831177
17,kaggle-liberty_mutual,hdfs,success,0.17294,0.21806999999999999,51.0,30946.93967795372
18,kaggle-loan_default,hdfs,success,1.18555,1.21051,1.0,99452.73396205902
19,kaggle-mercedes_benz,hdfs,success,0.53756,0.54515,51.0,6086.448907375336
20,kaggle-restaurant_revenue,hdfs,success,1817374.94185,1773560.1836,1.0,2951.688860654831
21,kaggle-safe_driver,hdfs,success,0.29056,0.28536999999999996,2.0,7338.564964294434
22,kaggle-santander_customer,hdfs,success,0.8259200000000001,0.83959,51.0,14293.774409770966
23,kaggle-sberbank_russian,hdfs,success,0.34192,0.3401,1.0,51366.057836294174
24,kaggle-social_network,hdfs,success,0.87455,0.86917,2.0,5595.077785491943
25,kaggle-spring_leaf,hdfs,success,0.7922,0.79772,51.0,92728.95514798164
26,kaggle-stumble_upon,hdfs,success,0.8824,0.8793200000000001,51.0,2004.8442451953888
27,kaggle-taxi_trip,hdfs,success,0.58354,0.58481,1.0,90508.53242945671
28,kaggle-tube_pricing,hdfs,success,0.24778000000000003,0.25426,1.0,53652.330756902695
29,kaggle-west_nile,hdfs,success,0.7169800000000001,0.73215,51.0,2584.8695471286774

In [9]:
def get_rank(_list, cur, teams, metric):
    if metric in ["mae", "logloss", "rmsle", "rmse"]:
        for i in range(len(_list)):
            if cur <= _list[i]:
                return i / teams, str(i) + "/" + str(int(teams))
    if metric in ["auc", "gini", "r2"]:
        for i in range(len(_list)):
            if cur >= _list[i]:
                return i / len(_list), str(i) + "/" + str(len(_list))

In [10]:
rank_res = []
for i in range(len(res)):
    
    name = res.loc[i, 'Unnamed: 0'][7:]

    metric = dataset.loc[dataset["dataset"] == name, "metric"].values[0]
    teams = dataset.loc[dataset["dataset"] == name, "teams"].values[0]
    _type  = dataset.loc[dataset["dataset"] == name, "type"].values[0]
    table  = dataset.loc[dataset["dataset"] == name, "table"].values[0]
    
    score = float(res.loc[i, 'private_score'])
    if not score > 0:
        score = float(res.loc[i, 'public_score'])
    

    name = name.replace("_", "-")
    if name == "bio-response":
        name = "bioresponse"
    if name == "facebook-human-robot":
        name = "facebook-recruiting-iv"
    if name == "get-kicked":
        name = "DontGetKicked"
    if name == "give-me":
        name = "GiveMeSomeCredit"
    if name == "spring-leaf":
        name = "springleaf"
    if name == "stumble-upon":
        name = "stumbleupon"
    lb = pd.read_csv("db-kaggle/" + [x for x in os.listdir("db-kaggle/") if name in x][0], sep = ";", header = -1)
    lb.columns = ["rank", "team", "score"]

    rank, str_rank = get_rank(list(lb['score']), score, teams, metric)
    
    print("name: {}; metric: {}; teams: {}; score: {}; rank: {}".format(name, metric, teams, score, rank))

    rank_res.append([name, _type, table, metric, teams, score, rank, str_rank])

name: allstate-claims; metric: mae; teams: 3052.0; score: 1126.93749; rank: 0.2971821756225426
name: amazon-employee; metric: auc; teams: 1687.0; score: 0.85475; rank: 0.5254739336492891
name: avazu; metric: logloss; teams: 1604.0; score: 0.39037; rank: 0.10037406483790523
name: bike-sharing-demand; metric: rmsle; teams: 3251.0; score: 0.3978; rank: 0.06367271608735774
name: bioresponse; metric: logloss; teams: 699.0; score: 0.37884; rank: 0.034334763948497854
name: box-office; metric: rmsle; teams: 1398.0; score: 2.08305; rank: 0.43776824034334766
name: dont-overfit; metric: auc; teams: 2330.0; score: 0.77; rank: 0.5332182916307161
name: elo-merchant; metric: rmse; teams: 4127.0; score: 3.72154; rank: 0.7453355948630966
name: facebook-recruiting-iv; metric: auc; teams: 985.0; score: 0.90945; rank: 0.3715736040609137
name: DontGetKicked; metric: gini; teams: 570.0; score: 0.26075; rank: 0.010507880910683012
name: GiveMeSomeCredit; metric: auc; teams: 924.0; score: 0.8689399999999999; rank: 0.008648648648648649
name: home-credit; metric: auc; teams: 7190.0; score: 0.77772; rank: 0.5719058889043576
name: homesite-quote; metric: auc; teams: 1762.0; score: 0.9691200000000001; rank: 0.00739476678043231
name: house-prices; metric: rmsle; teams: 4470.0; score: 0.12669; rank: 0.38232662192393735
name: ieee; metric: auc; teams: 5157.0; score: 0.880006; rank: 0.7742848160955674
name: kdd-cup-2014; metric: auc; teams: 472.0; score: 0.57585; rank: 0.41561181434599154
name: kobe-bryant; metric: logloss; teams: 1117.0; score: 0.60278; rank: 0.23008057296329454
name: liberty-mutual; metric: gini; teams: 634.0; score: 0.17294; rank: 0.7397476340694006
name: loan-default; metric: mae; teams: 675.0; score: 1.18555; rank: 0.9259259259259259
name: mercedes-benz; metric: r2; teams: 3831.0; score: 0.53756; rank: 0.7609093284557095
name: restaurant-revenue; metric: rmse; teams: 2257.0; score: 1817374.94185; rank: 0.1648205582631812
name: safe-driver; metric: gini; teams: 5163.0; score: 0.29056; rank: 0.020348837209302327
name: santander-customer; metric: auc; teams: 5122.0; score: 0.8259200000000001; rank: 0.7741493491664764
name: sberbank-russian; metric: rmsle; teams: 3274.0; score: 0.34192; rank: 0.7730604764813683
name: social-network; metric: auc; teams: 132.0; score: 0.87455; rank: 0.05185185185185185
name: springleaf; metric: auc; teams: 2226.0; score: 0.7922; rank: 0.13900134952766532
name: stumbleupon; metric: auc; teams: 625.0; score: 0.8824; rank: 0.12
name: taxi-trip; metric: rmsle; teams: 1257.0; score: 0.58354; rank: 0.7422434367541766
name: tube-pricing; metric: rmsle; teams: 1323.0; score: 0.24778000000000003; rank: 0.47845804988662133
name: west-nile; metric: auc; teams: 1306.0; score: 0.7169800000000001; rank: 0.4774292272379495

In [11]:
rank_res = pd.DataFrame(rank_res)
rank_res.columns = ["name", "type", "table", "metric", "teams", "score", "rank", "str_rank"]
rank_res

,name,type,table,metric,teams,score,rank,str_rank
0,allstate-claims,regression,single_table,mae,3052.0,1.126937e+03,0.297182,907/3052
1,amazon-employee,binary,single_table,auc,1687.0,8.547500e-01,0.525474,887/1688
2,avazu,binary,single_table,logloss,1604.0,3.903700e-01,0.100374,161/1604
3,bike-sharing-demand,regression,single_table,rmsle,3251.0,3.978000e-01,0.063673,207/3251
4,bioresponse,binary,single_table,logloss,699.0,3.788400e-01,0.034335,24/699
5,box-office,regression,single_table,rmsle,1398.0,2.083050e+00,0.437768,612/1398
6,dont-overfit,binary,single_table,auc,2330.0,7.700000e-01,0.533218,1236/2318
7,elo-merchant,regression,multi_tables,rmse,4127.0,3.721540e+00,0.745336,3076/4127
8,facebook-recruiting-iv,binary,multi_tables,auc,985.0,9.094500e-01,0.371574,366/985
9,DontGetKicked,binary,single_table,gini,570.0,2.607500e-01,0.010508,6/571
10,GiveMeSomeCredit,binary,single_table,auc,924.0,8.689400e-01,0.008649,8/925
11,home-credit,binary,multi_tables,auc,7190.0,7.777200e-01,0.571906,4108/7183
12,homesite-quote,binary,single_table,auc,1762.0,9.691200e-01,0.007395,13/1758
13,house-prices,regression,single_table,rmsle,4470.0,1.266900e-01,0.382327,1709/4470
14,ieee,binary,multi_tables,auc,5157.0,8.800060e-01,0.774285,4926/6362
15,kdd-cup-2014,binary,multi_tables,auc,472.0,5.758500e-01,0.415612,197/474
16,kobe-bryant,binary,single_table,logloss,1117.0,6.027800e-01,0.230081,257/1117
17,liberty-mutual,binary,single_table,gini,634.0,1.729400e-01,0.739748,469/634
18,loan-default,regression,single_table,mae,675.0,1.185550e+00,0.925926,625/675
19,mercedes-benz,regression,single_table,r2,3831.0,5.375600e-01,0.760909,2912/3827
20,restaurant-revenue,regression,single_table,rmse,2257.0,1.817375e+06,0.164821,372/2257
21,safe-driver,binary,single_table,gini,5163.0,2.905600e-01,0.020349,105/5160
22,santander-customer,binary,single_table,auc,5122.0,8.259200e-01,0.774149,6780/8758
23,sberbank-russian,regression,multi_tables,rmsle,3274.0,3.419200e-01,0.773060,2531/3274
24,social-network,binary,single_table,auc,132.0,8.745500e-01,0.051852,7/135
25,springleaf,binary,single_table,auc,2226.0,7.922000e-01,0.139001,309/2223
26,stumbleupon,binary,single_table,auc,625.0,8.824000e-01,0.120000,75/625
27,taxi-trip,regression,single_table,rmsle,1257.0,5.835400e-01,0.742243,933/1257
28,tube-pricing,regression,multi_tables,rmsle,1323.0,2.477800e-01,0.478458,633/1323
29,west-nile,binary,multi_tables,auc,1306.0,7.169800e-01,0.477429,624/1307

In [12]:
rank_res = rank_res.sort_values(by = "rank")
rank_res.index = range(len(rank_res))
rank_res["acc_avg_rank"] = rank_res['rank'].expanding().mean()
rank_res

,name,type,table,metric,teams,score,rank,str_rank,acc_avg_rank
0,homesite-quote,binary,single_table,auc,1762.0,9.691200e-01,0.007395,13/1758,0.007395
1,GiveMeSomeCredit,binary,single_table,auc,924.0,8.689400e-01,0.008649,8/925,0.008022
2,DontGetKicked,binary,single_table,gini,570.0,2.607500e-01,0.010508,6/571,0.008850
3,safe-driver,binary,single_table,gini,5163.0,2.905600e-01,0.020349,105/5160,0.011725
4,bioresponse,binary,single_table,logloss,699.0,3.788400e-01,0.034335,24/699,0.016247
5,social-network,binary,single_table,auc,132.0,8.745500e-01,0.051852,7/135,0.022181
6,bike-sharing-demand,regression,single_table,rmsle,3251.0,3.978000e-01,0.063673,207/3251,0.028108
7,avazu,binary,single_table,logloss,1604.0,3.903700e-01,0.100374,161/1604,0.037142
8,stumbleupon,binary,single_table,auc,625.0,8.824000e-01,0.120000,75/625,0.046348
9,springleaf,binary,single_table,auc,2226.0,7.922000e-01,0.139001,309/2223,0.055613
10,restaurant-revenue,regression,single_table,rmse,2257.0,1.817375e+06,0.164821,372/2257,0.065541
11,kobe-bryant,binary,single_table,logloss,1117.0,6.027800e-01,0.230081,257/1117,0.079253
12,allstate-claims,regression,single_table,mae,3052.0,1.126937e+03,0.297182,907/3052,0.096017
13,facebook-recruiting-iv,binary,multi_tables,auc,985.0,9.094500e-01,0.371574,366/985,0.115699
14,house-prices,regression,single_table,rmsle,4470.0,1.266900e-01,0.382327,1709/4470,0.133475
15,kdd-cup-2014,binary,multi_tables,auc,472.0,5.758500e-01,0.415612,197/474,0.151108
16,box-office,regression,single_table,rmsle,1398.0,2.083050e+00,0.437768,612/1398,0.167970
17,west-nile,binary,multi_tables,auc,1306.0,7.169800e-01,0.477429,624/1307,0.185163
18,tube-pricing,regression,multi_tables,rmsle,1323.0,2.477800e-01,0.478458,633/1323,0.200599
19,amazon-employee,binary,single_table,auc,1687.0,8.547500e-01,0.525474,887/1688,0.216843
20,dont-overfit,binary,single_table,auc,2330.0,7.700000e-01,0.533218,1236/2318,0.231908
21,home-credit,binary,multi_tables,auc,7190.0,7.777200e-01,0.571906,4108/7183,0.247363
22,liberty-mutual,binary,single_table,gini,634.0,1.729400e-01,0.739748,469/634,0.268771
23,taxi-trip,regression,single_table,rmsle,1257.0,5.835400e-01,0.742243,933/1257,0.288499
24,elo-merchant,regression,multi_tables,rmse,4127.0,3.721540e+00,0.745336,3076/4127,0.306772
25,mercedes-benz,regression,single_table,r2,3831.0,5.375600e-01,0.760909,2912/3827,0.324239
26,sberbank-russian,regression,multi_tables,rmsle,3274.0,3.419200e-01,0.773060,2531/3274,0.340862
27,santander-customer,binary,single_table,auc,5122.0,8.259200e-01,0.774149,6780/8758,0.356337
28,ieee,binary,multi_tables,auc,5157.0,8.800060e-01,0.774285,4926/6362,0.370749
29,loan-default,regression,single_table,mae,675.0,1.185550e+00,0.925926,625/675,0.389255

In [13]:
import datetime
today = str(datetime.date.today())

rank_res.to_csv("./output/" + today + ".csv", index = False)